table.trainingMonth {
  border-spacing: 30px;
  text-align: center;
  table-layout: auto;
  height: 100%;
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
}

th.trainingMonthEntry {
  border: 5px solid rgb(255, 255, 255);
  padding: 5px 1px;
  border-radius: 0px 0px 40px 40px;
}

td.trainingMonthEntry {
  border-radius: 50px;
  border: 5px solid black;
  background: linear-gradient(to bottom, rgb(58, 191, 58) 25%, black 0);
}

td.trainingTrainee {
  height: auto;
  width: initial;
  border-radius: 0px 40px 40px 0px;
  border: 5px solid rgb(255, 255, 255);
}
