table.TMonth {
  left: 0;
  border-spacing: 18px;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(197, 197, 197);
  justify-content: flex-start;
}

th.TMonthTrainingInfo {
  border: 5px solid white;
  padding: 5px 1px;
  border-radius: 0px 0px 40px 40px;
  background: rgb(135, 35, 35);

  font-size: 42px;

  max-width: 125px;
  min-width: 125px;

  max-height: 125px;
  min-height: 125px;

  position: sticky;
  top: 85px;
}

th.TMonthDate {
  border: 10px solid white;
  background: rgb(187, 2, 116);
  padding: 5px 1px;
  border-radius: 0px 0px 40px 0px;
  font-size: 60px;
  width: 300px;
  position: sticky;
  top: 85px;
  left: 0px;
  z-index: 1;
}

td.TMonthEntry {
  border-radius: 25%;
  width: 125px;
  height: 125px;
  border: 5px solid black;
}

td.TMonthSelected {
  border: 5px solid white;
}

td.TMonthAttended {
  background: rgb(255, 132, 0);
}

td.TMonthPayed {
  background: rgb(14, 209, 69);
  background-repeat: no-repeat, no-repeat;
  background-position: -500% 65%;
  background-size: 125px;
}

td.TMonthTrainee {
  border-radius: 0px 40px 40px 0px;
  border: 5px solid rgb(255, 255, 255);
  font-size: 40px;
  background: rgb(50, 35, 135);
  position: sticky;
  left: 0;
  /* top: 310px; */
}

th.TMonthTrainingAdd {
  border: 5px dashed white;
}
