.modal {
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
  transition: 1s;
}

/* Modal Content */
.modal-content {
  background: grey;
  margin: auto;
  margin-top: 15%;
  border-left: 15px solid purple;
  width: fit-content;
  font-size: 35px;
}

.modal-body {
  padding: 10px;
}
.modal-header {
  padding: 10px;
  font-size: 45px;
  background: rgb(79, 79, 79);
}

.modal-footer {
  padding: 10px;
  background: rgb(79, 79, 79);
  align-items: center;
  margin: auto;
  justify-content: center;
  display: flex;
}

.modal-hidden {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s;
}

.modal-button {
}
