.Trainees {
  margin: 0px 0px;
  padding: 0px 0px;
}

table.TraineesTable {
  font-size: 30px;
  margin: 0;
}

td.TraineesEntry,
th.TraineesEntry {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 2px 32px;
}

tbody.TraineesTableTBody {
}

thead.TraineesTableTHead {
}

tbody.spaced:before {
  content: "@";
  display: block;
  line-height: 10px;
  text-indent: -99999px;
}
